name: DevSecOps Security Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # SECRET SCAN
      - name: Run Gitleaks Secret Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          fail: true

      # DEPENDENCY SCAN
      - name: Install Dependencies
        run: npm install

      - name: Run NPM Audit
        run: npm audit --audit-level=high